@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100%;
    font-family: Inter;
    height: 100vh;
    background-color: rgb(32, 35, 38);
}

section{
    padding: 200px 50px 30px 50px;
    align-items: center;
    justify-content: center;
}

.svgContainer{
    flex:1;
    background-color:"white";
    padding-top:50px;
    padding-left:40px;
    padding-right:40px;
}

.svgImage{
    height:auto;
    width:auto;
}

#logo{
    animation: fill 0.5s ease forwards 4.5s;

}
#logo path:nth-child(1){            /* -----  e  -----*/
    stroke-dasharray: 485px;
    stroke-dashoffset: 485px;
    animation: line-anim 2s ease forwards 1.5s;

}
#logo path:nth-child(2){            /* -----  p  -----*/
    stroke-dasharray: 546px;
    stroke-dashoffset: 546px;
    animation: line-anim 2s ease forwards 1.8s;

}
#logo path:nth-child(3){            /* -----  o  -----*/
    stroke-dasharray: 407px;
    stroke-dashoffset: 407px;
    animation: line-anim 2s ease forwards 2.1s;

}
#logo path:nth-child(4){            /* -----  c  -----*/
    stroke-dasharray: 338px;
    stroke-dashoffset: 338px;
    animation: line-anim 2s ease forwards 2.1s;

}
#logo path:nth-child(5){            /* -----  h  -----*/
    stroke-dasharray: 486px;
    stroke-dashoffset: 486px;
    animation: line-anim 2s ease forwards 2.4s;

}
#logo path:nth-child(6){
    stroke-dasharray: 408px;
    stroke-dashoffset: 408px;
    animation: line-anim 2s ease forwards 2.7s;

}
#logo path:nth-child(7){
    stroke-dasharray: 563px;
    stroke-dashoffset: 563px;
    animation: line-anim 2s ease forwards 2.7s;

}
#logo path:nth-child(8){
    stroke-dasharray: 258px;
    stroke-dashoffset: 258px;
    animation: line-anim 2s ease forwards 3s;

}
#logo path:nth-child(9){
    stroke-dasharray: 471px;
    stroke-dashoffset: 471px;
    animation: line-anim 2s ease forwards 3s;

}
#logo path:nth-child(10){
    stroke-dasharray: 299px;
    stroke-dashoffset: 299px;
    animation: line-anim 2s ease forwards 0.9s;

}
#logo path:nth-child(11){
    stroke-dasharray: 132px;
    stroke-dashoffset: 132px;
    animation: line-anim 2s ease forwards 0.6s;

}
#logo path:nth-child(12){
    stroke-dasharray: 35px;
    stroke-dashoffset: 35px;
    animation: line-anim 2s ease forwards 1.2s;

}
#logo path:nth-child(13){
    stroke-dasharray: 333px;
    stroke-dashoffset: 333px;
    animation: line-anim 2s ease forwards 0.3s;

}
#logo path:nth-child(14){
    stroke-dasharray: 274px;
    stroke-dashoffset: 274px;
    animation: line-anim 2s ease forwards;

}


.body{
    flex:1;
}

.heading{
    font-family: 'Inter';
    font-size: 21px;
    font-weight: 500;
    color: white;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.contact{
    font-family: 'Inter';
    color: white;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 450px;
    background-color: #131212;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}


.product{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    display: grid;
}

.openBadge{
    background-color: #003cd3;
}

.mentr{
    background-color: purple;
}

.productDetails{
    padding-top:30px;
    padding-bottom:30px;
    padding-left:30px;
    padding-right:30px;
    font-family: 'Inter';
    line-height: 1.5rem;
    color: white;
}

.productName{
    margin-bottom: 15px;
}

.productDescription{
    font-weight: 380;
    opacity: 0.7;
    margin-bottom: 15px;
}

.getStarted{
    font-family: 'Inter';
    cursor: pointer;
    border-radius: 3px;
    background-color: #20292f;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    color: white;
    border:none;
}

.cards{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 auto;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.features{
    border-radius: 3px;
    color: white;
    font-size: 15px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.icon{
    height:40px;
    width:40px;
    margin-bottom: 10px;
    background-image: url("../Assets/antimony.svg");
    background-position: center;
    background-size: cover;
}

.featureName{
    letter-spacing: 2px;
    font-weight: 400;
    font-size: medium;
    
}

.fetaureDescription{
    font-family: 'Inter';
    font-weight: 380;
    line-height: 1.5rem;
    
    opacity: 0.7;
    margin-top: 10px;
}

.show{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    display: grid;
    grid-row-gap: 30px;
}

.showItem{
    padding-top:30px;
    padding-bottom:30px;
    border-radius: 5px;
    line-height: 1.5rem;
    color: white;
    background-color: #003cd3;
}

.projects{
    background-image: url("../Assets/ProBG.jpg");
    background-position: center;
    background-size: cover;
    
}

.showDetails{
    font-family: 'Inter';
    margin-left: 30px;
    margin-right: 30px;
}

.showName{
    font-size:25px;
    margin-bottom: 15px;
}

.showDescription{
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 25px;
}

.view{
    font-family: 'Inter';
    cursor: pointer;
    border-radius: 3px;
    background-color: #6f6f6f;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    background-color: #003cd3;
    color: white;
    border:none;
}

@media (min-width: 450px) {

.cards { grid-template-columns: repeat(2, 1fr);}
.show { grid-template-columns: repeat(1, 1fr);}
.product { grid-template-columns: repeat(1, 1fr);}
.showItem{
    border-radius: 5px;
}
}

@media (min-width: 800px) {

.cards { grid-template-columns: repeat(3, 1fr); }
.show { grid-template-columns: repeat(2, 1fr);}
.product { grid-template-columns: repeat(2, 1fr);}
.showItem{
    border-radius: 0;
}
   .svgContainer{
        padding-left:80px;
        padding-right:80px;
    }
}

@media(min-width:1000px){
    .svgContainer{
        padding-left:200px;
        padding-right:200px;
    }
}

@media (min-width: 1200px) {
.cards { grid-template-columns: repeat(4, 1fr); }
.heading{
    padding-left: 30px;
    padding-right: 30px;
}
.tagline{
    padding-left: 30px;
    padding-right: 30px;
}
.show{
    margin-left: 120px;
    margin-right: 120px;
    grid-row-gap: 0;
}
    .svgContainer{
        padding-left:200px;
        padding-right:200px;
    }
.showItem{
    border-radius: 0;
}
.showDetails{
    padding-top:30px;
    padding-bottom:30px;
    font-family: 'Inter';
    margin-left: 50px;
    margin-right: 50px;
}
.product{
    margin-top: 40px;
    margin-left: 120px;
    margin-right: 120px;
}
.productDetails{
    padding-top:60px;
    padding-bottom:60px;
    padding-left:60px;
    padding-right:140px;
}
.cards{
    padding-right: 120px;
    padding-left: 120px;
}
.features{
    background: none;
}
.features:hover{
    background-color: #262738;
}
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill{
    from{
        fill: transparent;
    }
    to{
        fill: blueviolet;
    }
}
